.section5{

}

.video-container {
    /* padding: 50px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* height: 100vh;  */
    border-color: #ffffff;
}
.video-container #main-video {
    width: 1080px;
    height: auto;
    border-radius: 20px;
    border-color: #ffffff;
}
.video-container .video-controls {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    opacity: 0.2;
    transition: opacity 0.4s;
}
.video-container:hover .video-controls {
    opacity: 1;
}
.video-container .video-controls button {
    background: transparent;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #000;
    border: none;
    cursor: pointer;
}
.video-container .video-controls .progress-bar {
    flex: 1;
    display: flex;
    align-items: center;
    border: none;
    border-right: 3px solid #ccc;
    border-left: 3px solid #ccc;
}
.video-container .video-controls .progress-bar .bar-background {
    background: rgb(1, 1, 65);
    height: 4px;
    flex: 1;
}
.video-container .video-controls .progress-bar .bar-inner {
    background: #ccc;
    width: 0%;
    height: 100%;
}
.fa {
    font-size: 20px !important;
}
.video-controls{
    width: 1080;
}